#wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 80px;
}

.nav-span-item {
  cursor: pointer;
}

.nav-span-item:hover {
  background-color: whitesmoke;
}

.myAlert-top{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 350px;
}

.main-row {
  width: 100%;
}

.sidebar {
  padding: 1rem;
  width: 90%;
}

.content-wrapper {
  padding-top: 1rem;
}

.close-span {
  cursor: pointer;
}
