.action-td {
  width: 75px;
}
.action-div {
  width: 50px;
}

.action-div span {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  color: #6c757d;
}

.action-div span:hover {
  color: #000000;
}
